img {
    position: relative;
    /*left: 500;
    top: 0;*/
    display: block;
}

div {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: #ABCDEF;
    display: block;
}

